{# src/UrlReducer/CoreBundle/Resources/views/Stat/stat.layout.html.twig #}
{% extends 'UrlReducerCoreBundle::layout.html.twig' %}

{% block body %}

	{% javascripts '@UrlReducerCoreBundle/Resources/public/js/*' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<div id="line"></div>
	<div id="pie_heure"></div>
	<div id="pie_semaine"></div>

	<script type="text/javascript">
		{# CHART.init({{ chart_data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}); #}
	</script>
{% endblock %}

