{# src/UrlReducer/CoreBundle/Resources/views/Stat/stat.layout.html.twig #}
{% extends 'UrlReducerCoreBundle::layout.html.twig' %}

{% block body %}
	{% for label, chart_url in chart_urls %}
		<h1 class="h5-like">{{ label }}</h1>
		<img src="{{ chart_url }}" alt="chart" style="width:300px; height:300px;"/>
	{% endfor %}
{% endblock %}
