{# src/UrlReducer/CoreBundle/Resources/views/Stat/stat.layout.html.twig #}
{% extends 'UrlReducerCoreBundle::layout.html.twig' %}

{% block body %}

	{% if url is defined %}
	    <a href="{{ path(url.route) }}">{{ url.label }}</a>
	{% endif %}

	{% javascripts '@UrlReducerCoreBundle/Resources/public/js/*' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<div id="line" class="chart"></div>
	<div id="pie_heure" class="chart pie"></div>
	<div id="pie_semaine" class="chart pie"></div>

	<script type="text/javascript">
		CHART.init({{ chart_data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
	</script>
{% endblock %}

