{# src/UrlReducer/CoreBundle/Resources/views/User/user.menu.html.twig #}

<div class="line">
	<div class="mod left pas">
		<span class="inbl home">&nbsp;</span>
		<span>{{ menu_message }}</span>
	</div>
	<div class="mod right txtright pas">
		<nav role="navigation">
			<ul>
			{{ render(controller('UrlReducerCoreBundle:Menu:member')) }}
			{% for url, label in menu_urls %}
			    <li><a href="{{ path(url) }}">{{ label }}</a></li>
			{% endfor %}
			</ul>
		</nav>	
	</div>
</div>



