{# src/UrlReducer/CoreBundle/Resources/views/Url/home.html.twig #}

<html>
	<head></head>
	<body>
		{% if member is empty %}
			{{ include('UrlReducerCoreBundle:Authentifier:not-connected.authentifier.html.twig') }}
		{% else %}
			{{ include(
				'UrlReducerCoreBundle:Authentifier:connected.authentifier.html.twig', 
				{'member': member}
			   )
			}}
		{% endif %}

		{{ form(form_generate_url) }}

		{% if short_url is defined %} 
			{{ short_url }}
		{% endif %}
	</body>
</html>

