html,body{height:100%;overflow:visible;}
.full-down{min-height:100%;}
body{background-color:#fff;font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;}
.bg-white{background-color:#fff;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;}
span.home{background-image:url(../images/icon-home.png);width:40px;height:40px;background-repeat:no-repeat;margin:-7px 10px 0 -5px;}
;
.d-block{display:block;}
.pavs{padding:5px;}
li{list-style-type:none;}
form{margin-top:15%;margin-left:auto;margin-right:auto;width:60%;}
form fieldset{font-size:14px;border-bottom:1px solid #eee;margin:0 0 10px;padding:0 0 10px;}
form fieldset.form-actions{border:none;margin:0 0 0 35%;padding:0;}
form fieldset.check{padding-left:20%;}
form fieldset label{float:left;width:35%;margin:4px 0 5px;}
form fieldset input.form-text,form fieldset textarea{display:block;width:50%;font-size:14px;border:1px solid #ddd;background:#f5f5f5;-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:5px;}
form fieldset input.input-generate-url{width:100%;padding:7px;}
form fieldset input.submit-generate-url{display:block;margin:0 0 auto auto;padding:7px;}
form fieldset input.form-text:focus{border:1px solid #ccc;background:#fff;}
form fieldset textarea{height:150px;}
form fieldset select{min-width:25%;margin:0;}
form fieldset.radio ul{list-style-type:none;margin:5px 0 0 20%;}
form fieldset p.form-help{font-size:12px;color:#999;margin:5px 0 0 35%;}
form input[type="submit"]{font-size:12px;font-weight:700;border:1px solid #ccc;background:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0;padding:5px 10px;}
form input[type="submit"]:hover,form input[type="submit"]:focus{border:1px solid #bbb;background:#e5e5e5;}
form input[type="submit"]:active{border:1px solid #ccc;background:#eee;}
form fieldset.check label,form fieldset.radio ul li label{display:inline;float:none;width:auto;font-weight:400;}
form fieldset.radio ul li,form fieldset.radio ul li{margin-left:13%;}
form.search{width:180%;}
form.search fieldset input[type="text"]{width:50%;font-size:18px;border:1px solid #ddd;background:#f5f5f5;-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:10px 14px;}
form.search fieldset input[type="submit"]{font-size:18px;color:#fff;border:none;background:#999;border-radius:4px;padding:10px 14px;}
form.search fieldset input[type="submit"]:hover,form.search fieldset input[type="submit"]:focus{background:#777;}
form.search fieldset input[type="submit"]:active{background:#666;}
td{overflow:hidden;}
table{margin:0;padding:0;}
table th,table td{text-align:left;border-bottom:1px solid #ccc;padding:10px 20px;}
table th{border-width:2px;}
table tr:last-child td{border-bottom:none;}
nav[role="h-navigation"] li{float:left;font-size:14px;border-right:1px solid #ddd;}
nav[role="h-navigation"] li:last-child{border-right:none;}
nav[role="h-navigation"] li a{float:left;text-decoration:none;color:#999;border-radius:4px;padding:0 10px;}
nav[role="h-navigation"] li a:hover,nav[role="h-navigation"] li a:focus{color:#333;}
nav[role="h-navigation"] li.active a{font-weight:700;color:#333;}
nav[role="v-navigation"] ul{padding-left:0; padding-bottom:5px;}
nav[role="v-navigation"] ul li a{display:block;font-size:14px;line-height:1;padding:5px 15px;}
nav[role="v-navigation"] ul li a:active{background:#ddd;}
table td,nav[role="h-navigation"] li a:active{color:#666;}
table tr:nth-child(even),nav[role="v-navigation"] ul li a:focus,nav[role="v-navigation"] ul li a:hover{background:#eee;}
@media screen and max-width 600px {
form fieldset label{display:block;float:none;width:auto;margin:0 0 5px;}
form fieldset.form-actions,form fieldset.check,form fieldset.radio ul,form fieldset p.form-help{margin-left:0;padding-left:0;}
form fieldset input.form-text,form fieldset textarea{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
}
.chart { width:80%; margin:0 auto; }
.pie { height:500px;}