{# src/UrlReducer/CoreBundle/Resources/views/User/login.user.html.twig #}

<h1>login</h1>

<div id="menu">
    {{ render(controller('UrlReducerCoreBundle:User:menu', { 'sRoute': app.request.attributes.get('_route') })) }}
</div>
<div>
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
</div>
<div>{{ form(form_login_user) }}</div>