{# src/UrlReducer/CoreBundle/Resources/views/User/register.user.html.twig #}

<h1>inscription</h1>

<div>

<div id="menu">
    {{ render(controller('UrlReducerCoreBundle:User:menu', { 'sRoute': app.request.attributes.get('_route') })) }}
</div>

{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
</div>

<div>{{ form(form_register_user) }}</div>