<div>
	Bienvenue, {{ member.pseudo }} | 
	<a href="{{ path('url_reducer_core_member_account_menu') }}">mon compte</a> | 
	<a href="{{ path('url_reducer_core_member_account_menu') }}">mes urls</a> | 
	<a href="{{ path('url_reducer_core_member_logout') }}">déconnexion</a>

</div>