{# app/Resources/views/layout.html.twig #}

<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
        {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div id="menu">
            {% block menu %}{% endblock %}
        </div>

        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>